<div class="main">
  <div class="square sq-header sq1">B</div>
  <div class="square sq-header sq2">I</div>
  <div class="square sq-header sq3">N</div>
  <div class="square sq-header sq4">G</div>
  <div class="square sq-header sq5">O</div>
  <div class="square sq-body sq6"><%= @b_sorted[0] %></div>
  <div class="square sq-body sq7"><%= @i_sorted[0] %></div>
  <div class="square sq-body sq8"><%= @n_sorted[0] %></div>
  <div class="square sq-body sq9"><%= @g_sorted[0] %></div>
  <div class="square sq-body sq10"><%= @o_sorted[0] %></div>
  <div class="square sq-body sq11"><%= @b_sorted[1] %></div>
  <div class="square sq-body sq12"><%= @i_sorted[1] %></div>
  <div class="square sq-body sq13"><%= @n_sorted[1] %></div>
  <div class="square sq-body sq14"><%= @g_sorted[1] %></div>
  <div class="square sq-body sq15"><%= @o_sorted[1] %></div>
  <div class="square sq-body sq16"><%= @b_sorted[2] %></div>
  <div class="square sq-body sq17"><%= @i_sorted[2] %></div>
  <div class="square sq-free sq18">Free</div>
  <div class="square sq-body sq19"><%= @g_sorted[2] %></div>
  <div class="square sq-body sq20"><%= @o_sorted[2] %></div>
  <div class="square sq-body sq21"><%= @b_sorted[3] %></div>
  <div class="square sq-body sq22"><%= @i_sorted[3] %></div>
  <div class="square sq-body sq23"><%= @n_sorted[3] %></div>
  <div class="square sq-body sq24"><%= @g_sorted[3] %></div>
  <div class="square sq-body sq25"><%= @o_sorted[3] %></div>
  <div class="square sq-body sq26"><%= @b_sorted[4] %></div>
  <div class="square sq-body sq27"><%= @i_sorted[4] %></div>
  <div class="square sq-body sq28"><%= @n_sorted[4] %></div>
  <div class="square sq-body sq29"><%= @g_sorted[4] %></div>
  <div class="square sq-body sq30"><%= @o_sorted[4] %></div>
  <button class="sq31" onclick="startGame()">Start Game</button>
  <div class="announcement sq32"></div>
  <script type="text/javascript">
    addClickToSquare();
  </script>
</div>